<img width=300 height=65 src='https://bitbucket.org/dphan-lacoste/whatabyte-portal/raw/093dd57d54b2a1d663b31ba2c84f2e0978ffd77c/logo_lacoste.jpg'>
<table>
  <tr>
    <td>
      <p>
        <span>
          <img width=20 height=20 src='https://bitbucket.org/dphan-lacoste/whatabyte-portal/raw/093dd57d54b2a1d663b31ba2c84f2e0978ffd77c/icon-success-20.jpg'>
        </span>
      </p>
    </td>
    <td>
      <span style='color:#00B050'>Deployment of $BITBUCKET_BRANCH on Production succeeded</span>
    </td>
  </tr>
</table>
<p>
  <span>Best regards</span>
</p>
<img width=300 height=65 src='https://bitbucket.org/dphan-lacoste/whatabyte-portal/raw/093dd57d54b2a1d663b31ba2c84f2e0978ffd77c/logo_lacoste.jpg'>